html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
}
.caja2 {
    height: 90%;
    width: 100%;
    background-image: url("../img/fondologin.jpg");
    border-radius: 15px;
}
.caja2 img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.caja1 {
    display: flex;
    display: table-column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 60px;
    
}
.caja1 .input-group {
    padding: 10px 0px 10px 0px ;
    width: 100%;
}
.caja1 button{
    width: 100%;
}
.cel-dni {
    width: 100%;
}
.caja1 .nom-apl {
    width: 100%;
}
.formularioregistro {
    display: flex;
    padding: 50px;
    display: flex;
    height: 100%;
    width: 100%;
}
.datosper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-start; */
    gap: 5%;
}
.datoselec {
    width: 100%;
    height: 100%;
}
.cambiodeformulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15%;
}
.form-text {
    width: 100%;

}
.cambiodeformulario p{
    justify-content: flex-start;
}
.btn-group {
    height: 40px;
    width: 100%;
}
.planillaform h2{
    justify-content: flex-start;
    width: 100%;
    height: 70%;
}
.titform {
    height: 10%;
}
.titulobtn {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: flex-start;
}
.ojo button {
    justify-content: end;
    align-items: center;
    height: 100%;
    border-radius: 4px;
    border-style: groove;
    border-width: 0.1px;
    border-color: rgba(172, 170, 168, 0.575);
}
.input-group{
    display: flex;
}
.mensajesalertas  {
    display: flex;
    padding-top: 5px;
    color: rgb(49, 46, 46);
    justify-content: center;

}.mensajesalertas{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 50px; */
}@media (max-width: 600px) {
    .caja2 {
        display: none;
    }
  }